<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Settings</py:def>
  <py:def function="page_heading">Site settings</py:def>

  <py:match path="primarysidebar">
    <li class="widget-container boxed widget_text">
      <h3>Site settings</h3>
      <p i18n:msg="">
        As a system administrator you are allowed to change the site title, tagline, image and
        some of the key presentation elements within the site.
      </p>
      <p i18n:msg="">
        This form allows you to change the settings which will take effect immediately on update.
      </p>
    </li>
  </py:match>

  <div py:match="content">
    <div class="alert alert-success" py:if="success">
        The settings have been saved
        <a class="close" onclick="$(this).parent().hide();">&times;</a>
    </div>

    <div class="alert alert-error" py:if="error_summary">
        The form contains invalid entries please correct them and submit again
        <a class="close" onclick="$(this).parent().hide();">&times;</a>
    </div>

      <form class="form-horizontal well" method="POST">
          <fieldset>
              <legend>Settings</legend>
              <div class="control-group ${ 'error' if errors.get('image_url', '') else '' }">
                  <label class="control-label" for="input01">Logo url</label>
                  <div class="controls">
                      <input type="text" class="input-xlarge" id="image_url" name="image_url" value="${data.get('image_url', g.site_url + '/img/logo.png' )}"/>
                      <p class="help-block">The image loaded from this URL should be 145 x 120px</p>
                      <span class="help-inline" py:if="errors.get('image_url')">${errors['image_url']}</span>
                  </div>
              </div>

              <div class="control-group ${ 'error' if errors.get('name', '') else '' }">
                  <label class="control-label" for="input01">Site name</label>
                  <div class="controls">
                      <input type="text" class="input-xlarge" id="name" name="name"  value="${data.get('name','CKAN')}"/>
                      <span class="help-inline" py:if="errors.get('name')">${errors['name']}</span>
                  </div>
              </div>
              <div class="control-group ${ 'error' if errors.get('tagline', '') else '' }">
                  <label class="control-label" for="input01">Tag line</label>
                  <div class="controls">
                      <input type="text" class="input-xlarge" id="tagline" name="tagline"  value="${data.get('tagline','The easy way to get, use and share data')}"/>
                      <span class="help-inline" py:if="errors.get('tagline')">${errors['tagline']}</span>
                  </div>
              </div>

          </fieldset>
          <fieldset>
              <legend>CSS</legend>
              <div class="control-group ${ 'error' if errors.get('css_header', '') else '' }">
                  <label class="control-label" for="input01">Header background</label>
                  <div class="controls">
                      <div class="input-prepend">
                      <span class='add-on'>#</span><input type="text" class="input-xlarge" id="css_header" name="css_header"  value="${data.get('css_header','dbdbdb')}"/>
                      </div>
                      <span class="help-inline" py:if="not errors.get('css_header')">Hexadecimal value for the header</span>
                      <span class="help-inline" py:if="errors.get('css_header')">${errors['css_header']}</span>
                  </div>
              </div>

              <div class="control-group ${ 'error' if errors.get('css_linkcolor', '') else '' }">
                  <label class="control-label" for="input01">Link color</label>
                  <div class="controls">
                      <div class="input-prepend">
                      <span class='add-on'>#</span><input type="text" class="input-xlarge" id="css_linkcolor" name="css_linkcolor"  value="${data.get('css_linkcolor','b22')}"/>
                      </div>
                      <span class="help-inline" py:if="not errors.get('css_linkcolor')">Hexadecimal value for the link color</span>
                      <span class="help-inline" py:if="errors.get('css_linkcolor')">${errors['css_linkcolor']}</span>
                  </div>
              </div>

              <div class="control-group ${ 'error' if errors.get('css_background', '') else '' }">
                  <label class="control-label" for="input01">Background</label>
                  <div class="controls">
                      <div class="input-prepend">
                      <span class='add-on'>#</span><input type="text" class="input-xlarge" id="css_background" name="css_background"  value="${data.get('css_background','ffffff')}"/>
                      </div>
                      <span class="help-inline" py:if="not errors.get('css_background')">Hexadecimal value for the main background</span>
                      <span class="help-inline" py:if="errors.get('css_background')">${errors['css_background']}</span>
                  </div>
              </div>

              <div class="control-group ${ 'error' if errors.get('css_footer', '') else '' }">
                  <label class="control-label" for="input01">Footer background</label>
                  <div class="controls">
                      <div class="input-prepend">
                          <span class='add-on'>#</span><input type="text" class="input-xlarge" id="css_footer" name="css_footer"  value="${data.get('css_footer','dbdbdb')}"/>
                      </div>
                      <span class="help-inline" py:if="not errors.get('css_footer')">Hexadecimal value for the footer</span>
                      <span class="help-inline" py:if="errors.get('css_footer')">${errors['css_footer']}</span>
                  </div>
              </div>
          </fieldset>

          <fieldset>
              <legend>About Page</legend>
              <div class="control-group description-field">
                <label class="control-label" for="notes">Text</label>
                <div class="controls">
                  ${markdown_editor('about', data.get('about'), 'about', _('Enter some text for your about page ...'))}
                </div>
              </div>
          </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button class="btn">Cancel</button>
          </div>
      </form>
  </div>

  <xi:include href="../layout.html" />
</html>
